.header{
    margin: 0px;
    padding: 5px;
    background-color: #ffeeba;
}
.left{
    padding: 5px;
    width: 20%;
    min-height: 300px;
    background-color: #9fcdff;
    float: left;

}
.right{
    padding: 5px;
    width: 20%;
    min-height: 300px;
    background-color: #9fcdff;
    float: right;
}
.middle{
    width: 60%;
    margin: 0px;
    padding: 5px;
    min-height: 300px;
    background-color: gainsboro;
    float: left;
}
.content{
    width: 100%;
}